.contentContainer {
	position: relative;
	margin: auto;
	max-width: 1310px;
	overflow: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		#29296e;
}
.text {
	margin: auto;
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 120%;
	padding-right: 10%;
	padding-top: 10%;
	padding-bottom: 11.5%;
	padding-left: 5%;
	color: white;
	overflow: auto;
}
.image {
	margin: auto;
	max-width: 558px;
	max-height: 558px;
	width: 100%;
	height: 100%;
	padding: 0px;
}
.fixed-size-image {
	width: 558px;
	height: 558px;
	object-fit: cover;
}
.aboutTextShift {
	display: none;
	justify-content: center;
	color: #ff4f0a;
}

@media screen and (max-width: 750px) {
	.contentContainer {
		display: flex;
		padding-top: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-left: 8%;
	}

	.headerText {
		display: flex;
		width: 107px;
		height: 38px;
		font-family: "Patrick Hand";
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 120%;
		text-align: center;
		padding-left: 30%;
	}
	.image {
		max-width: 222px;
		max-height: 222px;
		width: 100%;
		height: 100%;
		padding-right: 10%;
	}
	.text {
		padding-top: 10%;
		padding-bottom: 10%;
		padding-left: 8%;
		padding-right: 8%;
	}

	.entireBox {
		display: flex;
	}
}
.custom-paragraph {
	margin-bottom: ; /* Adjust this value to control the space between paragraphs */
}

.custombreak1 {
	margin-top: 0.8rem;
	margin-bottom: 2rem;
}
.custombreak2 {
	margin-top: 0.8rem;
	/* Adjust the value according to your desired space */
	margin-bottom: 0.5rem; /* Adjust the value according to your desired space */
}
.custombreak3 {
	margin-top: -0.5rem;
	/* Adjust the value according to your desired space */
	margin-bottom: 0.8rem; /* Adjust the value according to your desired space */
}
.custombreak4 {
	margin-top: -0.5rem;
	margin-bottom: 1.3rem;
}
