.cardContainer {
	display: grid;
	--grid-layout-gap: 10px;
	--grid-column-count: 6;
	--grid-item--min-width: 200px;
	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc(
		(100% - var(--total-gap-width)) / var(--grid-column-count)
	);
	grid-template-columns: repeat(
		auto-fill,
		minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
	);
	grid-template-rows: max-content;
	grid-gap: 2rem;
	height: 100%;
	margin-top: 2.5rem;
	margin-right: 8px;
	padding-bottom: 10vh;
}

.top3Container {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 2.5rem;
}
@media screen and (max-width: 750px) {
	.top3Container {
		flex-direction: column;
	}
}
.backgroundFade {
	position: fixed;
	width: calc(100vw + 5px);
	height: calc(100vh - 100px);
	background: linear-gradient(
		269.9deg,
		rgba(0, 0, 0, 0.792) 53.43%,
		rgba(0, 0, 0, 0.7755) 96.05%,
		rgba(0, 0, 0, 0.784406) 99.91%,
		rgba(0, 0, 0, 0) 99.92%
	);
	z-index: -1;
	margin-left: -5px;
}
.sortWrapper {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	margin-top: 1.1rem;
	z-index: 3;
}

.sortContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;

	margin-top: 0;
	margin-right: 12px;
	width: fit-content;
	height: auto;
	background: #12124a;
	border: 1px solid #bfbfbf;
	border-radius: 8px;
}
.sortContainer:hover {
	background: #242424;
	cursor: pointer;
}

.sortContainer:focus {
	background: #111111;
}
.sortButton {
	display: flex;
	text-align: center;
	justify-content: center;
	gap: 8px;
	font-size: 24px;
	letter-spacing: -0.15px;

	width: fit-content;
	padding: 12px 16px;
	border: none;
	background-color: transparent;
	color: #ffffff;
	font-family: Patrick hand;
}
.sortButton.selected {
	background: pink;
}
@media screen and (max-width: 540px) {
	.searchBarSortWrapper {
		display: flex;
		gap: 8px;
		margin-bottom: 20px;
		flex-direction: column;

		margin-left: 24px;
	}
	.searchBarSortContainer {
		width: 100%;
		max-width: none;
		justify-content: space-between;
		display: flex;
	}
	.sortWrapper {
		justify-content: center;
		padding-right: 0;
		margin-top: -20px;
		z-index: 3;
	}
	.sortContainer {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 1268px) {
	.searchBarSortWrapper {
		justify-content: center;
		margin-bottom: 20px;
	}
	.sortWrapper {
		justify-content: center;
		padding-right: 0;
	}
	.sortContainer {
		width: 100%;
		margin: 24px 24px 24px 0px;
	}
}
.dropdownMenu {
	position: absolute;
	right: 0px;
	top: 100%;
	margin-top: 16px;
	width: 242px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 4;
	display: flex;
	flex-direction: column;
}

.dropdownMenu label {
	display: block;
	position: relative;
	padding: 16px;
	border-color: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #e9e9e9;
	background-color: #ffffff;
	color: #262626;
	font-size: 24px;
}

.dropdownMenu input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.dropdownMenu input[type="radio"]:checked {
	background-color: #ff4f0a;
	border-color: #ff4f0a;
}
.dropdownMenu input[type="radio"]:checked + label::before {
	background-color: #ff4f0a;
	border-color: #ff4f0a;
}

.dropdownMenu label:hover {
	background-color: #f1f1f1;
}

.dropdownMenu label:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(18, 18, 74, 0.5);
}
.dropdownWrapper {
	position: relative;
	align-items: center;
}
.dropdownMenu label:first-child {
	border-radius: 8px 8px 0px 0px;
}

.dropdownMenu label:last-child {
	border-radius: 0px 0px 8px 8px;
}
@media screen and (max-width: 768px) {
	.dropdownMenu {
		position: fixed;
		width: 100%;
		height: auto; /* Change the height to auto */
		max-height: 80%; /* Set a maximum height for the menu */
		top: auto; /* Remove the top positioning */
		bottom: 0; /* Position the drawer at the bottom */
		left: 0;
		margin-top: 0;
		overflow-y: auto;
		border-radius: 8px 8px 0 0; /* Add border-radius to the top */
	}
}
.radioInput {
	visibility: hidden;
}
.radioInput:checked + span {
	border: 2px solid #ff4f0a;
}

.radioInput:checked + span:after {
	opacity: 1;
}
.customRadio {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 2px solid #ff4f0a;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

/* for inner filled circle */
.customRadio::after {
	content: "";
	width: 10px;
	height: 10px;
	background: #ff4f0a;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.2s;
}
.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 0;
	margin-top: auto;
	margin-bottom: 1rem;
}

.searchBarContainer {
}

.searchBarSortWrapper {
	display: flex;
	margin-top: 1rem;
	justify-content: flex-end;
	gap: 16px;
}
.searchBarSortContainer {
	justify-content: flex-end;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.blocTabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
}
.tabs {
	text-align: center;
	width: 50%;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	box-sizing: content-box;
	position: relative;
	outline: none;
	font-size: 24px;
	line-height: 40px;
	opacity: 0.3;
}
.tabs:not(:last-child) {
	border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.activeTabs {
	border-bottom: 3px solid #ff4f0a;
	font-size: 24px;
	line-height: 40px;
}

.activeTabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% + 2px);
	height: 5px;
	background: rgb(88, 147, 241);
}

.content-tabs {
	flex-grow: 1;
}
.content {
	background: white;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
}
.content h2 {
	padding: 0px 0 5px 0px;
}
.content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 5px;
}
.content p {
	width: 100%;
	height: 100%;
}
.active-content {
	display: block;
}
.headerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 65px;
	gap: 32px;
}
.cabinetHeader {
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
}
