.cardContainer{
    display: grid;
    --grid-layout-gap: 10px;
    --grid-column-count: 5;
    --grid-item--min-width: 250px;
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-template-rows: max-content;
    grid-gap: 2rem;
    height: 100%;
    padding:2rem;
    margin-right: 8px;
    padding-bottom: 10vh;
}
.backgroundFade {
  position: fixed;
  width: calc(100vw + 5px);
  height:calc(100vh - 100px);
  background: linear-gradient(269.9deg, rgba(0, 0, 0, 0.792) 53.43%, rgba(0, 0, 0, 0.7755) 96.05%, rgba(0, 0, 0, 0.784406) 99.91%, rgba(0, 0, 0, 0) 99.92%);
  z-index: -1;
  margin-left: -5px;
}