.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(38, 41, 44, 0.5);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	width: 100vw;
	height: 100vh;
}
.menu {
	position: absolute;
	align-self: center;
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	z-index: 1;
	padding: 25px;
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	color: #171717;
}
.menu_title {
	font-size: 40px;

	margin: 4px;
	text-align: center;
}

.menu_text {
	font-size: 22px;
	margin: 8px 5px 18px;
	text-align: center;
}
.buttonContainer {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
}
.exitButton {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Patrick Hand";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	text-decoration-line: underline;
	color: #ff4f0a;
	width: 100%;
	cursor: pointer;
	margin-left: -58px;
}
.cancelButton {
	background-color: #ff4f0a;
	color: white;
	font-size: 24px;
	margin-right: -12px;
	max-width: 154px;
	width: 100%;
	text-align: center;
	border-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	border-radius: 3px;
}
