@import "https://fonts.googleapis.com/css?family=Patrick+Hand";
html,
body {
	padding: 0;
	margin: 0;
	font-family: Patrick Hand;
	background-color: black;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.connectWalletButton {
	border-radius: 6px;
	height: 50px;
	padding: 0 0.7rem;
	padding-top: 13px;
	cursor: pointer;
	background-color: #ff4f0a;
	border: 1px solid rgba(228, 228, 228, 0.6);
}
.connectWalletButton:hover {
	background-color: #fe7641;
}
.background {
	z-index: -1;
}
.container {
	position: fixed;
	left: 0;
	width: 100vw;
	top: 100px;
	height: calc(100vh - 100px);
	align-content: center;
	background-image: url("/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: overlay;
}

.container::-webkit-scrollbar {
	width: 8px;
}

.container::-webkit-scrollbar-track {
	background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
	border-width: 4px;
	border-style: solid;
	border-color: #ff4f0a;
	border-radius: 4px;
}
.contentContainer {
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
}
.snackbar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
	height: 50px;
	background: #29296e;
	color: white;
	z-index: 3;
	left: calc(50vw - 125px);
	top: calc(100vh - 70px);
	border-radius: 8px;
	color: #d4d4d8;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@media screen and (max-width: 750px) {
	.snackbar {
		top: 85vh;
	}
}
