@import "https://fonts.googleapis.com/css?family=Patrick+Hand";
html,
body {
  padding: 0;
  margin: 0;
  font-family: Patrick Hand ,Helvetica Neue, sans-serif;
    background-color: black;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.connectWalletButton {
  border-radius: 6px;
  height:50px;
  padding: 0 1rem;
  padding-top: 13px;
  cursor: pointer;
  background-color: #FF4F0A;
}
.background {
  position:fixed;
  top:110;
  left:0;
  width:100vw;
  height:calc(100vh - 110px);
  z-index: -1;
}
.container {
  position:fixed;
  left:0;
  width:100vw;
  height:calc(100vh - 110px);
  align-content: center;
}
.contentContainer {
  position: relative;
  margin: 0 auto;
  width:1440px;
  height:calc(100vh - 110px);
}