.container {
  position:fixed;
  width:100vw;
  height:calc(100vh - 100px);
  padding: 5rem 12rem;
}
.content {
  height:100%;
  display:flex;
}
.image {
  background-color:  #FF4F0A;
  aspect-ratio: 1/1;
  height:100%;
  border : 5px solid #29296E;
}
.optionsContainer {
  display: grid;
  margin-left: 1rem;
  width:100%;
  row-gap: 2rem;
  grid-template-rows: 2fr 1fr 1fr;
}
.trait {
  background-color:  #FF4F0A;
  border : 5px solid #29296E;
  font-size: 3rem;
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
}
.trait .name {
  border : 2px solid #29296E;
  border-radius: 6px;
  width:75%;
  height: 75%;
  margin :auto;
}
.mintButton{
  background-color:  #FF4F0A;
  border : 5px solid #29296E;
  font-size: 3rem;
  text-align: center;
  padding: 1.2rem 1.2rem;
}