.container {
    width:100vw;
    height:100vh;
    background-color: #29296E;   
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    top:0;
}
.content {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1 {
    font-size: 35px;
}
.content h2{
    font-size: 25px;

}
.content h2:hover{
    color:grey;
}

.container footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 1rem;
}
@media screen and (max-width: 750px) {
    .container footer{
        margin-bottom: 10vh;
    }
  }
