.modalContainer{
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color:white;
    display: flex;
    flex-direction: column;
}
.closeButton {
    margin-right: 25px;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    width:60px;
    stroke: white;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    border: none;
}
.closeButton:hover{
    stroke:grey;
}
.header{
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
}
.text {
    font-size:20px;
    text-align: center;
    margin-top: 40px;
    padding: 0 5rem;
}
.stepper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}
.stepper .buttonActive {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FF4F0A;
    padding:23px;
}
.inputContainer {
    width:100px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    color:#FF4F0A;
    margin: 0 40px;
}
.mintPrice {
    color: #FF4F0A;
    font-size: 25px;
    font-weight: 700;
    background-color: #F5F5F5;
    text-align: center;
    border: transparent;
    -moz-appearance: textfield;
}
.mintPrice::-webkit-outer-spin-button,
.mintPrice::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.unitOfMeasurement {
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 750px) {
    .modalContainer {
        position: fixed;
        top:100px;
        width:100%;
        height:calc(100vh - 100px);
    }
    .closeButton {
        width:30px;
    }
    .text {
        padding: 0 2rem;
    }
  }