.container {
	width: 100vw;
	background-color: #29296e;
}
.navbar {
	max-width: 1440px;
	height: 100px;
	background-color: #29296e;
	color: white;
	padding-left: 2rem;
	display: flex;
	margin: 0 auto;
}
.logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	display: flex;
	align-items: center;
}
.logo:hover {
	color: #ff4f0a;
}
.links {
	margin-left: auto;
	margin-right: 65px;
	margin-top: 25px;
}
.link:hover {
	color: #ff4f0a;
	border-bottom: 1px solid #ff4f0a;
}
.link {
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	margin-left: 65px;
}
.link_active {
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	margin-left: 65px;
	color: #ff4f0a;
}
.buttonContainer {
	height: 100px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 2rem;
	width: 100px;
}
.hamburger_menu {
	width: 0px;
	visibility: hidden;
}
@media screen and (max-width: 900px) {
	.link {
		margin-left: 2rem;
	}
	.links {
		margin-right: 2rem;
	}
	.link_active {
		margin-left: 2rem;
	}
}

@media screen and (max-width: 1050px) {
	.links,
	.link,
	.buttonContainer {
		visibility: hidden;
	}
	.hamburger_menu {
		visibility: visible;
		width: auto;
		position: fixed;
		top: 40px;
		right: 20px;
	}
	.logo {
	}
}
@media screen and (min-width: 700px) {
	.buttonContainer {
		min-width: 200px;
	}
}
