.container {
	width: 100vw;
	background-color: rgba(47, 47, 47, 0.7);
	position: fixed;
	z-index: 5;
}
.navbar {
	max-width: 1440px;
	height: 68px;
	color: white;
	padding-left: 2rem;
	display: flex;
	margin: 0 auto;
}
.logo {
	font-weight: 700;
	font-size: 40px;
	line-height: 150%;
	display: flex;
	align-items: center;
}
.logo:hover {
	color: #ff4f0a;
}
.linkButtonContainer {
	display: flex;

	justify-content: space-between;
	width: 100%;
}
.links {
	margin-top: 16px;
	margin-left: 80px;
}
.link:hover {
	color: #ff4f0a;
	border-bottom: 1px solid #ff4f0a;
}
.link {
	position: relative;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	margin-left: 32px;
}
.link sup {
	position: absolute;
	top: -10px; /* adjust this value to position the beta symbol */
	right: -30px;
	font-size: 16px;
}
.link_active {
	position: relative;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	margin-left: 32px;
	color: #ff4f0a;
}
.link_active sup {
	position: absolute;
	top: -10px; /* adjust this value to position the beta symbol */
	right: -30px;
	font-size: 16px;
}
.buttonContainer {
	display: flex;

	gap: 16px;

	height: 100px;
	margin-top: 15px;

	margin-right: 2rem;
}
.profileIcon {
	width: 40px;
	height: 40px;
}
.profileIcon:hover {
	cursor: pointer;
}
.profileIcon:active {
	transform: scale(0.9);
}
.hamburger_menu {
	width: 0px;
	visibility: hidden;
}
@media screen and (max-width: 900px) {
	.link {
		margin-left: 2rem;
	}
	.links {
		margin-right: 2rem;
	}
	.link_active {
		margin-left: 2rem;
	}
}

@media screen and (max-width: 1082px) {
	.links,
	.link,
	.buttonContainer {
		visibility: hidden;
	}
	.hamburger_menu {
		visibility: visible;
		width: auto;
		position: fixed;
		top: 25px;
		right: 20px;
	}
	.logo {
	}
}
@media screen and (min-width: 700px) {
	.buttonContainer {
		min-width: 200px;
	}
}
