.nftCard {
	position: relative;
	width: 328px;
	display: block;
	padding: 20px;
	margin: 5px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	border-radius: 16px;
}
.nftCardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
.nftCard span {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 42px;
	color: #f2f0ff;
}
.nftCard h1 {
	all: unset;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #15bffd;
}

.nftCardImage {
	width: 100%;
	height: 288px; /* set a fixed height */
	aspect-ratio: 1/1;
	border-radius: 6px;
	object-fit: cover; /* make sure the image fills the container */
}

.container {
	display: flex;
	flex-wrap: wrap; /* wrap the cards onto new lines as needed */
	justify-content: center; /* align the cards to the left */
	gap: 20px; /* add some space between the cards */
}
.columnsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.column {
	flex: 1;
	margin-right: 1rem;
	padding: 1rem;
	background-color: #f9f9f9;
	border-radius: 6px;
}

@media (max-width: 768px) {
	.columnsContainer {
		flex-direction: column;
	}

	.column {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

.collectionContainer {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 2rem;
}
.connectButton {
	margin-left: auto;
	margin-right: 0;
	border-radius: 6px;
	background-color: #ff4f0a;
	color: #ffffff;
	border: 1px solid white;
}
