.sharedBackground {
	background: linear-gradient(
			180deg,
			#11114b 0%,
			rgba(17, 17, 75, 0.06) 101.96%,
			rgba(17, 17, 75, 0) 186.84%
		),
		url(/path/to/your/image.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #1d1d1d;
}

.extendedBackground {
	background: linear-gradient(
		180deg,
		#11114b 0%,
		rgba(17, 17, 75, 0.06) 101.96%,
		rgba(17, 17, 75, 0) 186.84%
	);
	background-attachment: fixed;
}
