.card {
	width: 200px;
	margin: auto;
	display: grid;
	cursor: pointer;
	position: relative;
}
.card:hover {
	outline: 2px solid #ff4f0a;
	border-radius: 6px;
}
.image {
	width: 200px;
	height: 200px;
	background-color: white;
	border: 1px solid rgba(228, 228, 228, 0.6);
	border-radius: 6px 6px 0 0;
}
.content {
	padding: 1rem;
	font-size: large;
	width: 200px;
	color: black;
	background-color: white;
	border: 1px solid rgba(228, 228, 228, 0.6);
	border-top: none;
	border-radius: 0 0 6px 6px;
}

.cardRank {
	width: 300px;
	margin: auto;
	display: grid;
	position: relative;
}
.cardRank:hover {
	outline: 2px solid #ff4f0a;
	border-radius: 6px;
}
.buttonContainer {
	background-color: white;
	border-radius: 6px 6px 0 0;
	padding: 10px;
}
.imageRank {
	width: 300px;
	height: 300px;
	background-color: white;
	/* border: 5px solid white; */
	border-bottom: none;
}
.contentRank {
	padding: 1rem;
	font-size: 20.0544px;
	width: 300px;
	color: black;
	background-color: white;
	/* border: 5px solid white; */
	border-top: none;
	border-radius: 0 0 6px 6px;
}
.contentRankTitle {
	color: #ff4f0a;
	font-size: 24px;
}

.card:hover .contentRankTitle,
.cardRank:hover .contentRankTitle {
	text-decoration: underline;
	cursor: pointer;
}
.hoverLabel {
	background-color: #ff4f0a;
	color: white;
	margin: 0 -1rem -1rem -1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 0 0 6px 6px;
	display: flex;
}
.editButton {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.moreButton {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image:hover,
.imageRank:hover {
	opacity: 0.7;
}

.menuOptions {
	position: absolute;
	bottom: -35px;
	right: 0;
	background-color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px;

	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.menuOptions::after {
	content: "";
	position: absolute;
	border: 1px solid #ccc;
	border-color: white transparent;
	border-width: 0 13px 11px 13px;
	top: -10px;
	left: 75%;
}
.menuOptions::before {
	content: "";
	position: absolute;
	border: 1px solid#ccc;
	border-color: #999 transparent;
	border-width: 0 12.5px 11.5px 13px;
	top: -11px;
	left: 75%;
}

.menuItem {
	padding: 12px 16px;
	cursor: pointer;
}

.menuItem:hover {
	background-color: #f1f1f1;
}

.kebabIcon {
	position: absolute;
	bottom: 85px;
	right: 0px;
	cursor: pointer;
	z-index: 1;
	width: 40px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuItem:not(:last-child) {
	/* Add the border to the bottom */
	border-bottom: 1px solid #ccc;
}
.kebabIconMyPills {
	position: absolute;
	bottom: 60px;
	right: 0px;
	cursor: pointer;
	z-index: 1;
	width: 40px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuOptionsMyPills {
	position: absolute;
	bottom: -110px;
	right: 0;
	background-color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
	border: 1px solid #ccc;
	border-radius: 16px;
	padding: 8px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
