.card {
    width:250px;
    margin: auto;
    display: grid;
}
.image {
   width: 250px;
   height:250px;
   background-color: white;
   border: 1px solid rgba(228, 228, 228, 0.6);
   border-radius: 6px 6px 0 0;
}
.content {
    padding: 1rem;
    font-size: large;
    width:250px;
    color:black;
    background-color: white;
    border: 1px solid rgba(228, 228, 228, 0.6);
    border-top: none;
    border-radius: 0 0 6px 6px;
}